In [6]:
df = pd.read_csv('Titanic-Dataset.csv')

In [1]:
import pandas as pd

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [13]:
from fun_reglog import RegressaoLogistica

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification

In [15]:
X, y = make_classification(n_samples=1000, n_features=10, random_state=42)

In [18]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [23]:
X = df.drop(['Survived', 'PassengerId'], axis = 1)
y = df['Survived']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
X_train

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
733,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
382,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
704,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
813,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S
...,...,...,...,...,...,...,...,...,...,...
106,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
270,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
860,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
435,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S
102,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S

In [29]:
X, y = make_classification(n_samples=1000, n_features=10, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [32]:
modelo = RegressaoLogistica()
modelo.fit(X_train, y_train)

In [33]:
previsoes = modelo.predict(X_test)

In [38]:
y_test

array([0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1])

In [34]:
previsoes

array([0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1])

In [36]:
accuracy = np.mean(previsoes == y_test)
print(f'AcurÃ¡cia do modelo: {accuracy:.2f}')

AcurÃ¡cia do modelo: 0.83

In [39]:
# Teste com Titanic

In [4]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Selecionando colunas relevantes e tratando valores faltantes
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
df.dropna(inplace=True)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})  # Convertendo sexo para numÃ©rico

In [7]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    0  22.0      1      0   7.2500
1           1       1    1  38.0      1      0  71.2833
2           1       3    1  26.0      0      0   7.9250
3           1       1    1  35.0      1      0  53.1000
4           0       3    0  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
885         0       3    1  39.0      0      5  29.1250
886         0       2    0  27.0      0      0  13.0000
887         1       1    1  19.0      0      0  30.0000
889         1       1    0  26.0      0      0  30.0000
890         0       3    0  32.0      0      0   7.7500

[714 rows x 7 columns]

In [8]:
# Separando features e target
X = df.drop('Survived', axis=1).values
y = df['Survived'].values

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
modelo = RegressaoLogistica()
modelo.fit(X_train, y_train)

In [15]:
previsoes = modelo.predict(X_test)

In [17]:
import numpy as np

In [18]:
accuracy = np.mean(previsoes == y_test)
print(f'AcurÃ¡cia do modelo no Titanic: {accuracy:.2f}')

AcurÃ¡cia do modelo no Titanic: 0.75

In [19]:
def calcular_ks(y_true, y_score):
    df_ks = pd.DataFrame({'score': y_score, 'target': y_true})
    df_ks = df_ks.sort_values(by='score', ascending=False)
    df_ks['cum_event'] = df_ks['target'].cumsum() / df_ks['target'].sum()
    df_ks['cum_non_event'] = (1 - df_ks['target']).cumsum() / (1 - df_ks['target']).sum()
    df_ks['ks'] = abs(df_ks['cum_event'] - df_ks['cum_non_event'])
    
    ks_value = df_ks['ks'].max()
    print(f'Valor KS: {ks_value:.4f}')
    return df_ks

In [20]:
prob_pred = modelo.predict_proba(X_test)

In [21]:
ks_table = calcular_ks(y_test, prob_pred)

Valor KS: 0.5152

In [24]:
    df_ks = pd.DataFrame({'score': prob_pred, 'target': y_test})
    df_ks = df_ks.sort_values(by='score', ascending=False)
    df_ks['cum_event'] = df_ks['target'].cumsum() / df_ks['target'].sum()
    df_ks['cum_non_event'] = (1 - df_ks['target']).cumsum() / (1 - df_ks['target']).sum()
    df_ks['ks'] = abs(df_ks['cum_event'] - df_ks['cum_non_event'])

In [25]:
df_ks

        score  target  cum_event  cum_non_event        ks
14   0.987519       1   0.017857       0.000000  0.017857
91   0.941130       1   0.035714       0.000000  0.035714
120  0.923324       1   0.053571       0.000000  0.053571
124  0.922293       0   0.053571       0.011494  0.042077
17   0.917048       1   0.071429       0.011494  0.059934
..        ...     ...        ...            ...       ...
4    0.113148       0   0.982143       0.965517  0.016626
108  0.111408       1   1.000000       0.965517  0.034483
74   0.108430       0   1.000000       0.977011  0.022989
39   0.094932       0   1.000000       0.988506  0.011494
34   0.094345       0   1.000000       1.000000  0.000000

[143 rows x 5 columns]

# Testando a FunÃ§Ã£o Criada

Para teste da funÃ§Ã£o, uitilizaremos o Dataset do Titanic.
O mesmo pode ser obtido no kaggle (https://www.kaggle.com/c/titanic/data).

Dado que o objetivo desse notebook Ã© testar a funÃ§Ã£o RegressÃ£o LogÃ­stica, que foi criada de forma manual para fins de estudos e evoluÃ§Ã£o do conhecimento, nÃ£o daremos tanta atenÃ§Ã£o Ã s melhores prÃ¡ticas de EDA e modelagem, ou buscaremos o melhor resultado para o modelo.

## Import das libs utilizadas e funÃ§Ã£o criada fun_reglog.py'

In [1]:
import pandas as pd
import numpy as np
from fun_reglog import RegressaoLogisticaManual as RegLogManual
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Leitura e tratamenmto dos dados, separaÃ§Ã£o entre treino e teste

In [2]:
# Carrega o dataset do Titanic
df = pd.read_csv('Titanic-Dataset.csv')

# Seleciona as colunas relevantes
df = df[['Pclass', 'Sex', 'Age', 'Survived']].dropna()

# Converte a coluna 'Sex' em numÃ©rica
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Separa os dados em features (X) e target (y)
X = df[['Pclass', 'Sex', 'Age']].values
y = df['Survived'].values

# Padroniza as features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Divide os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Utilizando a funÃ§Ã£o para treinamento do modelo

In [9]:
# Define a variÃ¡vel para treinamento. Definindo o nÃºmero de iteraÃ§Ãµes pequeno para que nÃ£o tenhamos logs excessivos.
model = RegLogManual(0.01, 5)

2025-04-10 03:03:43,276 - INFO - Taxa de aprendizado definida como: 0.01
2025-04-10 03:03:43,277 - INFO - NÃºmero de iteraÃ§Ãµes definido como: 5
2025-04-10 03:03:43,278 - INFO - Array de pesos inicializado como None
2025-04-10 03:03:43,278 - INFO - ViÃ©s inicializado como None

In [12]:
# Treina o modelo
model.fit(X_train, y_train)

2025-04-10 03:04:06,714 - INFO - Iniciando o treinamento do modelo
2025-04-10 03:04:06,715 - INFO - Pesos inicializados com valores aleatÃ³rios: [0.50977174 0.52806652 0.02743545]
2025-04-10 03:04:06,716 - INFO - ViÃ©s inicializado com valor aleatÃ³rio: 0.374018918399737
2025-04-10 03:04:06,717 - INFO - Iniciando iteraÃ§Ã£o 1
2025-04-10 03:04:06,718 - INFO - SaÃ­da linear calculada: [ 1.53669082  0.4307186   0.43827849  0.44394841 -0.17973586]
2025-04-10 03:04:06,720 - INFO - Calculando a funÃ§Ã£o sigmoide
2025-04-10 03:04:06,721 - INFO - Probabilidades calculadas: [0.82298315 0.60604525 0.60784875 0.60919945 0.45518661]
2025-04-10 03:04:06,723 - INFO - Gradiente dos pesos: [ 0.25861701 -0.17953356  0.01634339], Gradiente do viÃ©s: 0.17142242800293478
2025-04-10 03:04:06,724 - INFO - Pesos atualizados: [0.50718557 0.52986185 0.02727202]
2025-04-10 03:04:06,725 - INFO - ViÃ©s atualizado: 0.3723046941197076
2025-04-10 03:04:06,726 - INFO - Iniciando iteraÃ§Ã£o 2
2025-04-10 03:04:06,727 - INFO - SaÃ­da linear calculada: [ 1.53497058  0.42532667  0.43284153  0.43847767 -0.18202917]
2025-04-10 03:04:06,729 - INFO - Calculando a funÃ§Ã£o sigmoide
2025-04-10 03:04:06,730 - INFO - Probabilidades calculadas: [0.82273241 0.60475717 0.60655199 0.60789623 0.45461795]
2025-04-10 03:04:06,731 - INFO - Gradiente dos pesos: [ 0.25798009 -0.17898162  0.01646074], Gradiente do viÃ©s: 0.1710337861489877
2025-04-10 03:04:06,732 - INFO - Pesos atualizados: [0.50460577 0.53165167 0.02710741]
2025-04-10 03:04:06,733 - INFO - ViÃ©s atualizado: 0.37059435625821774
2025-04-10 03:04:06,734 - INFO - Iniciando iteraÃ§Ã£o 3
2025-04-10 03:04:06,735 - INFO - SaÃ­da linear calculada: [ 1.53325266  0.41994892  0.42741841  0.43302054 -0.18431582]
2025-04-10 03:04:06,735 - INFO - Calculando a funÃ§Ã£o sigmoide
2025-04-10 03:04:06,736 - INFO - Probabilidades calculadas: [0.82248172 0.60347103 0.60525704 0.60659471 0.45405105]
2025-04-10 03:04:06,737 - INFO - Gradiente dos pesos: [ 0.25734457 -0.17843107  0.01657749], Gradiente do viÃ©s: 0.17064540702403452
2025-04-10 03:04:06,739 - INFO - Pesos atualizados: [0.50203232 0.53343598 0.02694163]
2025-04-10 03:04:06,740 - INFO - ViÃ©s atualizado: 0.3688879021879774
2025-04-10 03:04:06,741 - INFO - Iniciando iteraÃ§Ã£o 4
2025-04-10 03:04:06,742 - INFO - SaÃ­da linear calculada: [ 1.53153705  0.41458532  0.42200913  0.427577   -0.18659583]
2025-04-10 03:04:06,742 - INFO - Calculando a funÃ§Ã£o sigmoide
2025-04-10 03:04:06,743 - INFO - Probabilidades calculadas: [0.82223109 0.60218684 0.60396392 0.60529493 0.45348593]
2025-04-10 03:04:06,744 - INFO - Gradiente dos pesos: [ 0.25671045 -0.17788189  0.01669366], Gradiente do viÃ©s: 0.17025729954554333
2025-04-10 03:04:06,745 - INFO - Pesos atualizados: [0.49946522 0.5352148  0.0267747 ]
2025-04-10 03:04:06,747 - INFO - ViÃ©s atualizado: 0.36718532919252195
2025-04-10 03:04:06,748 - INFO - Iniciando iteraÃ§Ã£o 5
2025-04-10 03:04:06,748 - INFO - SaÃ­da linear calculada: [ 1.52982377  0.40923584  0.41661366  0.42214702 -0.1888692 ]
2025-04-10 03:04:06,749 - INFO - Calculando a funÃ§Ã£o sigmoide
2025-04-10 03:04:06,750 - INFO - Probabilidades calculadas: [0.82198053 0.60090463 0.60267264 0.6039969  0.45292256]
2025-04-10 03:04:06,750 - INFO - Gradiente dos pesos: [ 0.25607773 -0.17733411  0.01680923], Gradiente do viÃ©s: 0.1698694725449541
2025-04-10 03:04:06,751 - INFO - Pesos atualizados: [0.49690444 0.53698814 0.0266066 ]
2025-04-10 03:04:06,752 - INFO - ViÃ©s atualizado: 0.3654866344670724

In [13]:
# Utiliza o modelo treinado para prever
y_pred = model.predict(X_test)

2025-04-10 03:04:36,616 - INFO - Iniciando previsÃµes
2025-04-10 03:04:36,618 - INFO - SaÃ­da linear calculada: [-0.15997707 -0.2314592   0.93124352  0.32887561  0.43505934]
2025-04-10 03:04:36,618 - INFO - Calculando a funÃ§Ã£o sigmoide
2025-04-10 03:04:36,619 - INFO - Probabilidades calculadas: [0.46009081 0.44239216 0.7173275  0.58148577 0.60708114]
2025-04-10 03:04:36,620 - INFO - PrevisÃµes binÃ¡rias geradas: [0, 0, 1, 1, 1]

In [14]:
# PrevisÃ£o final
y_pred

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1])

In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Carrega o dataset do Titanic
df = pd.read_csv('Titanic-Dataset.csv')

# Seleciona as colunas relevantes
df = df[['Pclass', 'Sex', 'Age', 'Survived']].dropna()

# Converte a coluna 'Sex' em numÃ©rica
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Separa os dados em features (X) e target (y)
X = df[['Pclass', 'Sex', 'Age']].values
y = df['Survived'].values

# Padroniza as features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Divide os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Cria e treina o modelo de regressÃ£o logÃ­stica do scikit-learn
model_sklearn = LogisticRegression()
model_sklearn.fit(X_train, y_train)

# Faz as previsÃµes nos dados de teste
y_pred_sklearn = model_sklearn.predict(X_test)

# Calcula a acurÃ¡cia do modelo do scikit-learn
accuracy_sklearn = accuracy_score(y_test, y_pred_sklearn)
print(f'AcurÃ¡cia do modelo scikit-learn: {accuracy_sklearn}')

AcurÃ¡cia do modelo scikit-learn: 0.7412587412587412

In [50]:
z_pred_sklearn = model_sklearn.predict_proba(X_test)

In [52]:
y_pred_sklearn

array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [61]:
z_pred_sklearn[3]

array([0.04797883, 0.95202117])

In [62]:
probabilidades_classe_1 = z_pred_sklearn[:, 1]

In [63]:
probabilidades_classe_1

array([0.15690727, 0.49216184, 0.818759  , 0.95202117, 0.04778634,
       0.43957127, 0.51759431, 0.61069322, 0.57002505, 0.62093068,
       0.96387558, 0.79574007, 0.51307195, 0.05838692, 0.92569895,
       0.29368713, 0.1027518 , 0.96532021, 0.25984374, 0.84794137,
       0.68775965, 0.65009679, 0.74759605, 0.47079879, 0.10875206,
       0.13101602, 0.13590863, 0.09340172, 0.70122338, 0.05838692,
       0.64063451, 0.74759605, 0.4602721 , 0.06576905, 0.06075693,
       0.48587329, 0.20702589, 0.26787411, 0.22846793, 0.03453873,
       0.17457703, 0.11722934, 0.92273597, 0.10073044, 0.30233618,
       0.818759  , 0.78523104, 0.64063451, 0.41860931, 0.87786885,
       0.44978072, 0.84806561, 0.55515892, 0.0864787 , 0.09704654,
       0.580128  , 0.54468742, 0.21421998, 0.09340172, 0.07394514,
       0.82481372, 0.09704654, 0.69656881, 0.13101602, 0.32997334,
       0.34872445, 0.19362874, 0.95574176, 0.07696355, 0.49192093,
       0.13101602, 0.79900225, 0.13590863, 0.11722934, 0.04407999,
       0.11722934, 0.32997334, 0.1262738 , 0.54393138, 0.71063864,
       0.73129704, 0.51307195, 0.44379863, 0.12167919, 0.09704654,
       0.65031602, 0.74759605, 0.05283617, 0.12167919, 0.31154107,
       0.36818015, 0.91648319, 0.65009679, 0.08319421, 0.78523104,
       0.59063043, 0.95202117, 0.53417626, 0.2361852 , 0.45426567,
       0.82495295, 0.87336628, 0.08002353, 0.7924387 , 0.92862102,
       0.20702589, 0.11722934, 0.4602721 , 0.04589756, 0.73934341,
       0.0864787 , 0.11292129, 0.17457703, 0.30233618, 0.13101602,
       0.54917416, 0.07401117, 0.70563653, 0.08319421, 0.04778634,
       0.96387558, 0.16271713, 0.09704654, 0.11722934, 0.95005123,
       0.09340172, 0.11292129, 0.88243305, 0.08319421, 0.89488492,
       0.09704654, 0.0864787 , 0.09340172, 0.78523104, 0.22142799,
       0.10875206, 0.07116331, 0.44978072, 0.16856394, 0.22880792,
       0.06576905, 0.86370827, 0.96081073])

In [64]:
# Cria um DataFrame
df_probabilidades_classe_1 = pd.DataFrame(probabilidades_classe_1, columns=['Probabilidade_Classe_1'])

# Exibe o DataFrame
print(df_probabilidades_classe_1)

     Probabilidade_Classe_1
0                  0.156907
1                  0.492162
2                  0.818759
3                  0.952021
4                  0.047786
..                      ...
138                0.168564
139                0.228808
140                0.065769
141                0.863708
142                0.960811

[143 rows x 1 columns]

In [65]:
df_probabilidades_classe_1

     Probabilidade_Classe_1
0                  0.156907
1                  0.492162
2                  0.818759
3                  0.952021
4                  0.047786
..                      ...
138                0.168564
139                0.228808
140                0.065769
141                0.863708
142                0.960811

[143 rows x 1 columns]